<h2>しんきとうろくだよ～</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
          <%= f.text_field :username, autofocus: true, placeholder: "ユーザ名" %>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="mail icon"></i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
    </div>
    <div class="field">
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %>文字以上</em>
      <% end %><br>
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <%= f.password_field :password, autocomplete: "password", placeholder: "パスワード" %>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード再入力" %>
      </div>
    </div>
    <div class="submit">
      <input type="submit" value="新規登録" data-disable-with="新規登録中" class="ui large teal submit button" />
    </div><br>
  <%# <div class="ui error message"></div> %>
<% end %>
  <div class="submit">
      <%= button_to "ログイン", {controller: 'sessions', action: 'new'}, {method: :get} %>
  </div>
</div>


