<h1>やることリスト</h1>

<table>
  <thead>
    <tr>
      <th><h2>ToDo</h2></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.name %></td>
        <td><%= link_to '表示', todo %></td>
        <td><%= link_to '編集', edit_todo_path(todo) %></td>
        <td><%= link_to '削除', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_todo_path %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
