<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="ui contener">
    <% if notice %>
    <p class="mes"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="mes"><%= alert %></p>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
